

body {
	font-family: Helvetica, sans-serif; background: #ddd; overflow-x: hidden;
}



h1, h2, h3, h4 { font-family: Georgia, serif; margin-bottom: 20px; }

a { color: #B10021; }
a:hover, a:focus {	color: #B10021;	text-decoration: underline; }
a.thumbnail:hover, a.thumbnail:focus { border-color: #6F0015; }
a p { margin-top: 10px; }


.btn { border-radius: 0px; }

.btn-primary {	background-color: #B10021; border-color: #81061D; }

.btn-primary:hover, .btn-primary:focus { background-color: #752201; border-color: #81061D; }

.logoform { margin: 12px; }

.thumbnail { border-radius: 0px; display: inline-block;	-webkit-transition: none; transition: none; }

.container {
	margin: 0 auto;
	padding-left:  20px;
	padding-right: 20px;
  padding-top:   20px;
	background: white;
}


SPAN.textbf		{ font-weight: bold;
								color: #B10021}

table, th, td {
								    border: 1px solid white;
								}

                .section_box {
                	border: 1px solid #CCCCCC;
                	padding: 10px;
                	background: #F6F6F6;
                	max-width: 250px;
                	min-height: 230px;
                	text-align: left;
                }



.section_box p, .section_box li { font-size: 1.3rem; line-height: 2em; }

#thumbnails_container, #other_downloads { max-width: 920px; margin: 0 auto; }
